body {
    font-family: 'Times New Roman','Times New Roman', Times, serif ;
    margin: 20px;
    padding: 0px;
    background-color: powderblue;
}

h1 {
      text-align: center;
      color: black;


}

form {
       max-width: 600px;
       margin:auto;
       background-color: lightblue;
       border-radius: 8px;
       box-shadow: 0 4px 8px rgba(0,0,0,0.5);
       padding: 20px;
}

fieldset {

border: 2px solid black ;
border-radius: 8px;
padding: 20px;
margin-bottom: 20px;
background-color: rgb(191, 231, 247);
}

legend {

    font-weight: bold;
    text-align: left;
    color: black;
}

label {
    display: block;
    margin-top: 10px;

}

input,textarea
{

    width: calc(100% - 1px);
    padding: 8px;
    margin-top: 4px;
    border: 1px solid red ;
    border-radius: 4px;
    box-sizing: border-box;
}

button
{

    display: block;
    margin-top: 10px;
    width: 100%;
    padding: 10px;
    background-color:rgb(68, 128, 177) ;
    color: black;
    border-radius: 30px;
    border: none;
    cursor: pointer;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    align-items: center;
}

button:hover{
    background-color: rgb(28, 100, 149);
}

#resumeOutput
{

    max-width: 600px;
    margin: auto;
    padding: 20px;
    border: 2px solid;
    border-radius: 8px;
    background-color: lightblue;
    box-shadow: 0 4px 8px rgba(0,0,0,0.5);
}

#resumeOutput h2
{
   color: blueviolet;
   

}